:root {
    --gray: #212121;
    --green: #009660;
    --white: #e9e9e9;
    --black: #0c0c0c;
    --lgray:#929292;
}
.green{
    color: var(--green);
}

.lgray{
    color: var(--lgray);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    position: fixed;
    width: 100%;
}

.nav1 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav1 img {
    height: 50px;
}

.nav1 h4 {
    font-family: monospace;
    font-size: 20px;
    font-weight: 100;
}

.nav2 {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav2 img {
    height: 25px;
    border-radius: 50%;
    width: 25px;
}

.nav2 h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.nav3 {
    display: none;
    gap: 40px;
    align-items: center;
}

.nav3 img {
    height: 25px;
    border-radius: 50%;
    width: 25px;
}

.nav3 h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

@media (max-width:600px) {
    nav {
        padding: 12px 19px;
    }

    .nav1 img {
        height: 29px;
    }

    .nav h4 {
        font-size: 11px;
    }

    .nav2 {
        display: none;
    }

    .nav3 {
        display: flex;
    }

}

main {
    padding-top: 120px;
}

.section1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 50px;
}

.section1 .left {
    width: 42%;
}
.section1 .left  h1{
   font-size: 40px;
}
.section1 .left .tags {
    display: flex;
    align-items: center;
    gap: 5px 5px;
    flex-wrap: wrap;
    margin: 20px 0;
}
.section1 .left .tags h4{
   background-color: var(--gray);
   padding: 10px 20px ;
   border-radius: 5px;
   white-space: nowrap;
}
.left .price {
    font-size: 23px;
}
.left .price .lgray{
    font-size: 15px;
    font-weight: 900;
}

.section1 .right {
    background-color: rgb(1, 44, 87);
    width: 42%;
}